.home {
  display: flex;

  .homeContainer {
    flex: 6;

    .widgets,
   


    .listContainer {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
      margin: 20px;

      .listTitle {
        font-weight: 500;
        color: gray;
        margin-bottom: 15px;
      }
    }
  }
}


/* Animation style */
.custom-top-right-modal {
    position: fixed;
    top: 20px;
    right: 20px;
    margin: 0;
    max-width: 400px;
    z-index: 1055;
  }

  .modal-backdrop.show {
    opacity: 0.5;
  }

  .shimmer-text {
    background: linear-gradient(
      90deg,
rgb(31, 218, 71) 0%,
      #00bfff 40%,
rgb(167, 14, 154) 80%
    );
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shimmer 2.5s linear infinite;
  }

  @keyframes shimmer {
    0% {
      background-position: 200% center;
    }
    100% {
      background-position: -200% center;
    }
  }

  .register-background {
  background-image: url('https://as2.ftcdn.net/jpg/06/12/69/39/1000_F_612693965_Ic0XfvkMa44xQXHA8lonULgqoEzyS0Xl.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
}

.wrapperStyle{
  height: "100vh";
  background-image:
    "url('https://as2.ftcdn.net/jpg/06/12/69/39/1000_F_612693965_Ic0XfvkMa44xQXHA8lonULgqoEzyS0Xl.jpg')";
  background-size: "cover";
  background-position: "center";
  display: "flex";
  align-items: "center";
  justify-content: "center";
}
.cardStyle{
  background-color: "rgba(255, 255, 255, 0.95)";
  padding: "2rem";
  border-radius: "2rem";
  max-width: "550px";
  width: "100%";
  box-Shadow: "0 4px 20px rgba(0, 0, 0, 0.3)",
}

/* Navbar css */
/* Position modal to top-right corner */
.custom-right-modal {
  position: fixed !important;
  top: 60px;
  right: 20px;
  margin: 0;
  max-width: 400px;
  width: 100%;
  z-index: 1060;
}

/* Optional: Style the modal content */
.custom-modal-content {
  border-radius: 1rem;
  overflow: hidden;
 
}
